h1{
    margin: 50px,50px;
    position: relative;
    color:rgb(246, 250, 253);
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    
    /* background-color: antiquewhite;
    outline: black 1px solid;
    outline-style: dotted; */

}
p1{
    margin: 50px,50px;
    position:relative;
    color:rgb(246, 250, 253);
    font-family: 'Roboto', sans-serif;


}
p2{
    margin: 50px,50px;
    position:relative;
    color:rgb(246, 250, 253);
    font-family: 'Roboto', sans-serif;

}
p3{
    margin: 50px,50px;
    position:relative;
    color:rgb(82, 101, 115);
    font-family: 'Roboto', sans-serif;

}
p4{
    margin: 50px,50px;
    position:relative;
    color:rgb(246, 250, 253);
    font-family: 'Roboto', sans-serif;

}

.canvasWrapper{
    position:relative;
}
/* .description{
    text-decoration: underline;
} */

/* #canvasWrapper1{
    /* background-color: aquamarine; */
    /* outline:2px green solid; */
    /* margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px; */
/* } */ 

/* .Energia{
    text-decoration: underline;
    color:rgb(165, 163, 42);
} */

/* .captionWrapper{
    margin: 50px;
    padding:10px;
    margin-left:100px; */
    /* outline:1px black solid; */
    ;
/* } */
/* .box1{
    background-color: rgb(255, 196, 226)
}

.box3{
    position:fixed;
    top:100px;
    background-color: rgb(231, 255, 196)
}


.caption{
    /* outline:1px green dotted; */
  
    /* margin: 0;
    
} */
 
