html, body {
  margin: 0;
  padding: 0;
}
canvas {
  
  display: block;
}

h1{
   font-family:'Times New Roman', Times, serif;
    
}
body{
  background-color: beige;
  font-family:'Times New Roman', Times, serif;
}
