p{
    color:brown;
    font-style: "Times New Roman";
    /* background-color: antiquewhite;
    outline: black 1px solid;
    outline-style: dotted; */

}

.description{
    text-decoration: underline;
}

#canvasWrapper{
    /* background-color: aquamarine; */
    outline:2px green solid;
}

.p5name{
    outline: 3px pink solid;
}

.captionWrapper{
    margin: 50px;
    padding:10px;
    margin-left:100px;
    outline:1px black solid;
    background-color: bisque;
}

.box2{
    position: absolute;
    left:400px;
    top:200px;
}
.box3{
    position:fixed;
    top:400px;
}
.box4{
    position:relative;
    top:30px;
}

.caption{
    outline:1px green dotted;
    /* because the cation itself  has a margin so the padding looks weird*/
    margin: 0;
    
}

.myText{
    outline:blue;
    display:inline-block;
    height:100px;
}